body {
	background-color: LightSteelBlue;
	font-family: monospace;
}
img {
	width: 30%;
	height: auto;
}
h1{
	font-family: monospace;
	margin-bottom: 0;
}
h2{
	font-family:monospace;
	margin-bottom: 0;

}
h3{
	font-family:monospace;
	margin-bottom: 0;
}

